doctype html
html(ng-app="app")
    head
        block $$vars
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        title Hello Atom!
        link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")
        link(rel="icon",href="favicon.ico",type="image/x-icon")
        link(rel="stylesheet",href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet",href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
        link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro")
        link(rel="stylesheet",href="css/app.css")
        block $$head
        //![if lt IE 9]
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js")
            script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    body
        a(href="https://github.com/iolo/hello-atom")
            img(style="position:absolute;top:0;right:0;border:0;z-index:9999;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png",alt="Fork me on GitHub")

        #wrap
            #header.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
                .navbar-header
                    button.navbar-toggle(data-toggle="collapse",data-target="#nav")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Hello, Atom!
                #nav.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li: a(href="http://atom.io") atom
                        li: a(href="http://github.com/atom/atom-shell") atom-shell
                        li: a(href="http://nodejs.org") node.js
                        li.dropdown
                            a.dropdown-toggle(href="#",data-toggle="dropdown") Links
                                b.caret
                            ul.dropdown-menu
                                li: a(href="http://atom.io") atom
                                li: a(href="http://github.com/atom/atom-shell") atom-shell
                                li: a(href="http://nodejs.org") node.js

        #content.container(ng-view)
            p We are using node.js {{nodeVersion}}
            p and atom-shell {{atomShellVersion}}

        #footer.container
            hr
            p.text-muted.text-center Copyright &copy; 2014 IoloTheBard. No rights reserved.

        script(src="http://code.jquery.com/jquery-2.1.1.min.js")
        script(src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js")

        script(src="js/app.js")
        //script(src="js/controllers.js")
        //script(src="js/directives.js")
        //script(src="js/filters.js")
        //script(src="js/services.js")

